body{
    background-color: #232323;
    margin: 0;
	font-family: "Avenir", "Montserrat";
}

h1 {
    color: white;
    text-transform: uppercase;
    text-align: center;
    background-color: steelblue;
	margin: 0;
	font-weight: normal;
	line-height: 1.1;
	padding: 20px 0;
}

.square {
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
	margin: 1.66%;
	border-radius: 15%;
	transition: background 600ms;
	-webkit-transition: background 600ms;
	-moz-transition: background 600ms;
}

#container {
    margin: 20px auto;
    max-width: 600px;
}


#stripe {
    background-color: white;
    height: 30px;
    text-align: center;
    color: black;
}

.selected {
	background-color: steelblue;
	color: white;
}

#colorDisplay {
	font-size: 200%;
}

button {
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: 400ms;
	-webkit-transition: 400ms;
	-moz-transition: 400ms;
	outline: none;
}

button:hover {
	color: white;
	background: steelblue;
}

#message {
	display: inline-block;
	width: 20%;
}
